// pallete
$blue-yonder: #576daa;
$pine-tree: #25291c;
$olivine: #acc18a;
$tea-green: #dafeb7;
$big-dip-oruby: #9C3848;
$magnolia: #EBE4F1;
$ghost-white: #F5F2F8;
$shamrock-green: #329F5B;
$bright-yellow-crayola: #FBB13C;
$deep-champagne: #FDD087;
$bisque: #FBE4C6;