<!-- <div class="modal"> -->
<div [ngClass]="{'open': !!open, 'closed': !open}">
    <div class="wrapper">
        <div class="modal" (clickOutside)="onClickOutside()">
            <div class="modal-header">
                <p class="modal-title">
                    {{ content.name }}
                </p>
            </div>
            <div class="modal-body">
                <div class="text-wrapper">
                    <p class="text">
                        {{ content.text }}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="close-wrapper">
                    <div class="close" (click)="onCloseModal()">
                        <p class="text">close</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>