.page {
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.grid {
    display: grid;
    grid-template-columns: 38vw auto;
    grid-template-rows: 38vh auto;
    grid-template-areas: 
        "profile-pic navbar"
        "empty empty"
    ;
}

.profile-pic {
    grid-area: profile-pic;
}

.nav-bar {
    grid-area: navbar;
}

.portrait-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.portrait {
    height: 60%;
    transition: all .05s ease-in-out;
}

.portrait:hover {
    transform: scale(1.14);
}