@import '../../../../styles/colours.scss';

.nav-item {
    height: 100%;
    width: 100%;
    transition: all .05s ease-in-out;
    background-color: $primary-light;
    border: solid 2px $primary-dark;
}

.nav-item:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: $bright;
}

.text-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    user-select: none;
}

.selected {
    background-color: $yellow;
}

.selected:hover {
    transform: scale(1);
    background-color: $yellow;
}