.nav-item {
    height: 100%;
    width: 100%;
    transition: all .05s ease-in-out;
}

.nav-item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.text-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfe3ee;
    border: solid 2px #576daa;
}

.text {
    user-select: none;
}