// @import '../../../../../styles/colours.scss';
@import 'colours.scss';

.button-banner {
    height: 20vh;
    width: 100%;
    transition: all .05s ease-in-out;
    background-color: white;
    border: solid 2px $blue-yonder;
    margin-top: 10%;
}

.button-banner:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: $deep-champagne;
}

.text-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    user-select: none;
    font-size: xx-large;
}
